.main {
    padding: 1rem;
    &__animalInfo {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 1rem;
        box-shadow: 0 0 5px rgba($color: #000000, $alpha: .3);
        background-color: #fff;
        &__header {
            justify-content: center;
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            text-align: center;
            position: relative;
            h3 {
                width: 100%;
            }
            span {
                width: 100%;
                font-weight: 700;
            }
            button {
                position: absolute;
                left: 0;
                top: 1rem;
                border: none;
                border-radius: 2px;
                box-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.3);
                background-color: #fff;
                padding: 0.3rem;
                &:hover {
                    transform: scale(1.02);
                }
                &:active {
                    transform: scale(1);
                }
            }
        }
        &__img {
            width: calc(50% - 2rem);
            display: flex;
            flex-direction: column;
            justify-content:center;
            align-items: center;
            padding: 1rem;

            img {
                width: 100%;
                min-height: 100px;

            }     
        }
        &__info {
            display: flex;
            flex-direction: column;
            position: relative;
            width: calc(50% - 2rem);
            justify-content: start;
            padding: 1rem;
            p {
                font-size: 10px;
            }
        }

        &__btn{
            width: 100%;
            button {
                border: none;
                width: 100%;
                border-radius: 2px;
                box-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.3);
                height: 75px;
                font-size: 2rem;
            }
            .isHungry {

                color: brown;
                &:hover {
                    transform: scale(1.02);
                }
                &:active {
                    transform: scale(1);
                }
            } 
            .notHungry {
                background-color: rgb(241, 240, 240);
                opacity: 0.8;
                text-transform: uppercase;
                font-weight: 700;
                color: green;

            }
        }
    }
}