header {
    box-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.9);
   .header {
    text-align: center;
    background-color: green;
    h1 {
        margin: 0;
        padding: 1rem;
        color: yellow;
        font-size: 30px;
    }
} 
}

